<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Listeners" parallel="none">

	<listeners>
		<listener class-name="testNGListenerOnFailure.TestListener" />
	</listeners>


	<test name="Login Test">

		<classes>

			<class name="testNGListenerOnFailure.LoginTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
